<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="3Net-Loginsuite">
  <test name="LoginPage">
    <classes>
     
       <class name="com.org.threenet.test.LoginPageTest"/>
            
    </classes>
  </test> <!-- DefaultPage -->
</suite> <!-- RedifMailTestSuite -->