<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LH-Loginsuite">
  <test name="LoginPage">
    <classes>
     
       <class name="com.livehealtier.test.BiometricScreeningTest"/>
            
    </classes>
  </test> <!-- DefaultPage -->
</suite> <!-- RedifMailTestSuite -->